{% load static %}

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler position-absolute top-50 start-70 translate-middle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="margin-bottom: -15px;"> 
        <a class="nav-link" href="{% url 'pembukuan' %}"><span class="fs-5" style="color: green;">Pembukuan</span></a>
        <a class="nav-link" href="{% url 'produk' %}"><span class="fs-5">Produk</span></a>
        <a class="nav-link" href="{% url 'karyawan' %}"><span class="fs-5"> Karyawan</span></a>
        <form action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <input class="nav-link btn btn-link fw-bold fs-5" type="submit" value="KELUAR" style="color: red;">
        </form>
        
      </div>
    </div>
  </div>
</nav>