{% extends 'base.html' %}

{% block content %}
<div class="sticky-container">
    {% include 'partials/_sidebar.html' %}
</div> 
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
<div class="container-fluid"> 
    {% include 'partials/_messages.html' %}
    <br>
    <div class="row m-1">
        <div class="container m-0">
            <div class="row g-0">
                <div class="col-7 col-md-10 p-0">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item mt-2 ms-2" aria-current="page"><p class="fs-4">Detail UMKM</p></li>
                        </ol>
                    </nav>
                </div>
                <div class="col-5 col-md-2 mx-auto">
                    <a href="{% url 'ubah-detail' %}" class="btn btn-md btn-outline-primary">Ubah Detail</a>
                </div>
            </div>
        </div>
        <div class="container mb-4">
            <div class="card p-3">
                {% for detail in details %}
                    {% if detail.name != '' %}
                        <h5 class="mt-2 ms-1">Nama Usaha</h5>
                        <div class="card pt-2 ps-4">
                            <p class="fs-4" style="padding-top: 5px;">{{detail.name}}</p>
                        </div>

                        <h5 class="mt-4 ms-1">Pemilik</h5>
                        <div class="card pt-2 ps-4">
                            <p class="fs-4" style="padding-top: 5px;">{{detail.pemilik}}</p>
                        </div>

                        <h5 class="mt-4 ms-1">Email Usaha</h5>
                        <div class="card pt-2 ps-4">
                            <p class="fs-4" style="padding-top: 5px;">{{detail.email}}</p>
                        </div>

                        <h5 class="mt-4 ms-1">No. Telpon</h5>
                        <div class="card pt-2 ps-4">
                            <p class="fs-4" style="padding-top: 5px;">{{detail.phone}}</p>
                        </div>

                        <h5 class="mt-4 ms-1">Bidang Usaha</h5>
                        <div class="card pt-2 ps-4">
                            <p class="fs-4" style="padding-top: 5px;">{{detail.field}}</p>
                        </div>

                        <h5 class="mt-4 ms-1">Alamat</h5>
                        <div class="card pt-2 ps-4">
                            <p class="fs-4" style="padding-top: 5px;">{{detail.address}}</p>
                        </div>

                        <h5 class="mt-4 ms-1">Kota</h5>
                        <div class="card pt-2 ps-4">
                            <p class="fs-4" style="padding-top: 5px;">{{detail.city}}</p>
                        </div>
                    {% else %}
                        <p class="fs-4 ms-4" style="padding-top: 15px; color: red;">Belum Ada Detail Usaha</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% else %}
    <div class="container-fluid">
        <h3 class="text-center position-absolute top-50 start-50 translate-middle">Maaf, Anda tidak memiliki akses ke laman ini.</h3>
    </div>
{% endif %}
{% endblock content %}