{% extends 'base.html' %}

{% block content %}

<br>
<div class="row g-0 m-2">
    <div class="col-6 col-md-9 p-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item mt-2" aria-current="page"><p class="fs-4">Pembukuan</p></li>
            </ol>
        </nav>
    </div>
    <div class="col-6 col-md-3 mx-auto">
        <a href="{% url 'tambah-pembukuan' %}" class="btn btn-md btn-outline-primary">Tambah Pembukuan</a>
    </div>
</div>

<div class="row mt-2 overflow-auto mh-100">
    <br>
    <div class="container mt-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tanggal</th>
                    <th>Kategori</th>
                    <th>Deskripsi</th>
                    <th>Jumlah</th>
                </tr>
            </thead>
            <tbody>
                {% if pembukuans.count %}
                    {% for pembukuan in page_obj %}
                    <tr class="align-middle">
                        <td>{{pembukuan.date}}</td>
                        <td>{{pembukuan.category}}</td>
                        <td>{{pembukuan.description}}</td>
                        <td id="amount">{{pembukuan.amount}}</td>
                        <td><a href="{% url 'ubah-pembukuan' pembukuan.id %}" class="btn btn-primary btn-sm">Ubah</a></td>
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <div class="container-fluid">
            <ul class="pagination align-middle float-right mr-auto">
                {% if page_obj.has_previous %}
                <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
                <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Kembali</a></li>
                {% endif %}
          
                {% if page_obj.has_next %}
                <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Berikutnya</a></li>
                <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                {% endif %}
            </ul>
        </div>

        
    </div>
</div>

<!-- COBAIN GANTI FORMAT KE IDR (GABISA) -->
<script>
    const myObj = {
        style: "currency",
        currency: "IDR"
    }
    let num = document.getElementById("amount").innerHTML;
    let text = num.toLocaleString("id-ID", myObj);
    document.getElementById("amount").innerHTML = text;
</script>

{% endblock content %}