{% extends 'base.html' %}

{% block content %}

<br>
<div class="row g-0 m-2">
    <div class="col-6 col-md-9 p-0">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item mt-2" aria-current="page"><p class="fs-4">Pembukuan</p></li>
            </ol>
        </nav>
    </div>
    <div class="col-6 col-md-3 mx-auto">
        <a href="{% url 'tambah-pembukuan' %}" class="btn btn-md btn-outline-primary">Tambah Pembukuan</a>
    </div>
</div>

<div class="row mt-2 overflow-auto mh-100">
    <br>
    <div class="container mt-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tanggal</th>
                    <th>Kategori</th>
                    <th>Deskripsi</th>
                    <th>Harga</th>
                    <th>Pajak</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% if pembukuans.count %}
                    {% for pembukuan in page_obj %}
                        {% if pembukuan.category == 'Pengeluaran' %}
                        <tr class="align-middle">
                            <td class="table-danger">{{pembukuan.date}}</td>
                            <td class="table-danger">{{pembukuan.category}}</td>
                            <td class="table-danger">{{pembukuan.description}}</td>
                            <td class="table-danger">Rp. {{pembukuan.price}}0</td>
                            {% if pembukuan.tax == 0 %}
                                <td class="table-danger">-</td>
                            {% else %}
                                <td class="table-danger">Rp. {{pembukuan.tax}}0</td>
                            {% endif %}
                            <td class="table-danger">Rp. {{pembukuan.subtotal}}0</td>
                            <td class="table-danger"><a href="{% url 'ubah-pembukuan' pembukuan.id %}" class="btn btn-primary btn-sm">Ubah</a></td>
                        </tr>
                        {% elif pembukuan.category == 'Lain-lain' %}
                        <tr class="align-middle">
                            <td class="table-info">{{pembukuan.date}}</td>
                            <td class="table-info">{{pembukuan.category}}</td>
                            <td class="table-info">{{pembukuan.description}}</td>
                            <td class="table-info">Rp. {{pembukuan.price}}0</td>
                            {% if pembukuan.tax == 0 %}
                                <td class="table-info">-</td>
                            {% else %}
                                <td class="table-info">Rp. {{pembukuan.tax}}0</td>
                            {% endif %}
                            <td class="table-info">Rp. {{pembukuan.subtotal}}0</td>
                            <td class="table-info"><a href="{% url 'ubah-pembukuan' pembukuan.id %}" class="btn btn-primary btn-sm">Ubah</a></td>
                        </tr>
                        {% elif pembukuan.category == 'Pemasukan' %}
                        <tr class="align-middle">
                            <td class="table-success">{{pembukuan.date}}</td>
                            <td class="table-success">{{pembukuan.category}}</td>
                            <td class="table-success">{{pembukuan.description}}</td>
                            <td class="table-success">Rp. {{pembukuan.price}}0</td>
                            {% if pembukuan.tax == 0 %}
                                <td class="table-success">-</td>
                            {% else %}
                                <td class="table-success">Rp. {{pembukuan.tax}}0</td>
                            {% endif %}
                            <td class="table-success">Rp. {{pembukuan.subtotal}}0</td>
                            <td class="table-success"><a href="{% url 'ubah-pembukuan' pembukuan.id %}" class="btn btn-primary btn-sm">Ubah</a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>Pembukuan Kosong</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <div class="container-fluid">
            <ul class="pagination align-middle float-right mr-auto">
                {% if page_obj.has_previous %}
                <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
                <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Kembali</a></li>
                {% endif %}
          
                {% if page_obj.has_next %}
                <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Berikutnya</a></li>
                <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
                {% endif %}
            </ul>
        </div>

        
    </div>
</div>

{% endblock content %}