{% extends 'base.html' %}

{% block content %}

<br/>
<h1>Pembukuan UMKM</h1>
<ul class="list-group">
    <li class="list-group-item">Bought Keyboard</li>
    <li class="list-group-item">Bought Keyboard</li>
    <li class="list-group-item">Bought Keyboard</li>
    <li class="list-group-item">Bought Keyboard</li>
    <li class="list-group-item">Bought Keyboard</li>
    <li class="list-group-item">Bought Keyboard</li>
    <li class="list-group-item">Bought Keyboard</li>
    <li class="list-group-item">Bought Keyboard</li>
</ul>

{% endblock content %}

